body {
  background-image: url("images/wall.jpg");
}

.unityContent {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 680px;
  width: 1050px;
  border-radius: 1% 1% 1% 1%;
  background-color: black;
}

.myClass {
  position: relative;
  margin-left: auto;
  margin-right:auto;
  height: 200px;
  width: 1080px;
  color: white;
}

.marqee {
  width: 100%;
  height: 200px;
  border: 10px dotted #FFD150;
}

.controlBox {
  height: 300px;
  width: 1090px;
  background-image: url("images/bgSmall.png");
  background-size: 1090px;
  background-repeat: no-repeat;
  border-radius: 1% 1% 20px 20px;
  border: 6px solid #56AB38;
}

.controls {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 600px;
}

.arcadeMachine {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #0d0d0d;
  border-radius: 5px;
  width:1110px;
  background-color: #404040;
}

.lights {
  position: absolute;
  border: 10px dotted #FFE3A4;
  width: 100%;
  height: 100%;
}

.arcadeBottom {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  width:1080px;
  height:160px;
  background-color: black;
}

.flashit{
  color:#f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
